*{
	margin: 0;
}
.nr{
	width: 1000px;
	height: 870px;
	margin:20px auto;

}
.nr_left{
	width: 675px;
	height: 870px;
	float: left;

}
.nr_left>p{
	padding-left: 15px;
}
.nr_left>p>a{
	text-decoration: none;
	color: black;
	font-size: 12px;
}
.nr_left_tu1{
	padding-left: 5px;
	width: auto;
	height: auto;
}
.nr_left_ul1{
	width: 670px;
	height: 40px;
	background: red;
	margin: 0 5px;
	list-style: none;
}
.nr_left_ul1>li{
	padding-top: 10px;
	padding-left: 200px;
	color: white;
}
.nr_left>ul{
	list-style: none;
}
.nr_left>ul>li{
	font-size: 10px;
}
.nr_left_tu2{
	padding-left: 5px;
	width: auto;
	height: auto;
}
.nr_left_ul2{
	padding-left: 5px;
	list-style: none;
}
.nr_left_ul2>li{
	font-size: 10px;
}
.nr_left_ul2>li>div{
	padding-top: 7px;
	float: left;
}
.lfet_li_fengxiang{
	width: 622px;
	height: 28px;
	border-radius: 10%;
	background: url(../img/news_show_001.png) no-repeat;
	position: relative;
}
.lfet_li_fengxiang>a{
	padding: 5px 27px;
    margin-left: 13px;
}
.nr_left_ul2>li>a{
	text-decoration: none;
	color: black;
}


.nr_right{
	width: 300px;
	height: 870px;
	float: right;
}
.nr_right>div:nth-child(1){
	height: 33px;
	background: url(../img/libg16.gif)no-repeat;
}
.nr_right>div>b{
	padding-left: 30px;
    line-height: 35px;
    color: white;
}
.divcter-right div
{
	width: 100%;
	height: 33px;
		background: red;
}
.divcter-right div img
{
	float: left;
}
.divcter-right div b
{
	color: white;
	line-height: 33px;
	font-size: 14px;
	margin-left: 20px;

}
.right-ul 
{
	width: 100%;
	height: 390px;
 
}
.right-ul  li
{
	
	width: 123px;
	height: 93px;
	margin: 15px 5px;
	list-style: none;
	float: left;
}
.right-ul  li a
{
	color: black;
}
.right-ul  li a img
{
	border: 1px solid black;
}
.right-ul  li a p
{
	font-size: 12px;
	line-height: 12px;
}
.right-ul  li:hover a p
{
	color: red;
}
.right-ul2
{
	width: auto;
	height: auto;
}
.right-ul2 li
{

	width: 100%;
	height: 28px;
	list-style: none;
}
.right-ul2 li div
{
	width: 18px;
	height: 100%;
	float: left;
	background: url(../img/libg5.gif);
}

.right-ul2 li:hover
{
	background:red;
}
.right-ul2 li:hover div
{
	background-position:0 -28px;
}
.right-ul2 li a
{
	text-decoration: none;
	line-height: 28px;
	font-size: 13px;
	color: black;
}
.right-ul2 li:hover a
{
	color: white;
}
.center-bottomdiv
{
	margin-top: 20px;
	width: 100%;
	height: 34px;
	bottom: 0;
}
.center-bottomdiv>a
{
	font-size: 13px;
}
.center-bottomdiv ul li
{
	list-style: none;
	width: 30px;
	height: 25px;
	float: left;
	border: 1px solid gray;
	color: gray;
	margin-left: 5px;
	text-align: center;
	line-height: 25px;
	font-size: 12px;
}

.center-bottomdivul li a
{
	color: gray;
}
.center-bottomdivul li:hover
{
	background: red;
	color: white;
}
.center-bottomdiv ul li:hover a
{
	color: white;
}
.center-bottomdiv ul li:nth-child(1)
{
	width: 60px;
}
.center-bottomdiv ul li:nth-child(6)
{
	width: 60px;
}
.center-bottomdiv ul li:nth-child(7)
{
	width: 60px;
}
.center-bottomdiv>a
{
	width: 90px;
	height: 27px;
	line-height: 27px;
	text-align: center;
	float: right;
   	background: gray;
   	color: white;
}

.bend2_1
{
	width: 291px;
	height: 33px;
	background: url(../img/libg16.gif);
	position: relative;
}
.bend2_1>p
{
	color: white;
	position: absolute;
	font: "微软雅黑";
	font-weight:bold ;
	top: 7px;
	left: 33px;
}
.bend1_ul2
{
	list-style: none;
	margin-top: 12px;
	margin-left: -33px;
}
.bend1_ul2>li
{
	float:left ;
	margin-left: 32px;
	margin-top: -6px;
	line-height: 30px;
	
}
.bend1_ul2>li>a
{
	color: #010101;
	text-decoration: none;
	font-size:13px ;
	font: "微软雅黑";
}
.bend1_ul2>li>div
{
	width: 126px;
	height: 104px;
    background: white;
	border:2px double #D7D7D7;
	position: relative;
}
.bend1_ul2>li>div>img
{
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -47px;
	margin-left: -62px;
}
.bend1_ul2 li:hover a 
{
	color: red;
}
.bend2_3
{
	width: 291px;
	height: 33px;
	margin-top: 415px;
	background: url(../img/libg16.gif);
	position: relative;
}
.bend2_3>p
{
	color: white;
	position: absolute;
	font: "微软雅黑";
	font-weight:bold ;
	top: 7px;
	left: 33px;
}
.bend2_ul3{
	width: auto;
	height: auto;
	
	
}
.bend2_ul3 li{
	margin: 0px 0px;
	float: left;
	width: 291px;
	height: 28px;
	list-style: none;
}

.bend2_ul3 li div{
	width: 18px;
	height: 28px;
	float: left;
	background: url(../img/libg5.gif) no-repeat;
}
.bend2_ul3 li:hover{
	background: red;
}
.bend2_ul3 li:hover div{
	background-position-y:-28px;
}
.bend2_ul3 li a{
	line-height: 28px;
	font-size: 13px;
	color: black;
	text-decoration: none;
}
.bend2_ul3 li:hover a{
	color: white;
	
}
