*{
	margin: 0;
}

.zhong{
	width: 1000px;
	height: 1185px;
	margin: auto;
	
}
.zhong>p>a{
	text-decoration: none;
	color: grey;
	font-size: 10px;
}
.zhong_lest{
	width: 327px;
	height: 1150px;
	float: left;
	
}
.zhong_lest_tu1{
	width: 291px;
	height: auto;
	margin: 10px 0;
	background: url(../img/libg10.gif)no-repeat;
	overflow: hidden;
}
.tiao1{
	overflow: hidden;                                                                                                 
}
.tiao1>ul{
	list-style: none;
}
.zhong_lest_tu1>p{
	width: 265px;
	height: 33px;
	float: right;
	background: gainsboro;
}
.zhong_lest_tu1>p>a{
	text-decoration: none;
	color: gray;
	padding-top: 5px;
	line-height: 35px;
}
.zhong_lest_tu1:hover p{
	background: red;
}
.zhong_lest_tu1:hover p>a{
	color: white;
}


.zhong_lest>ul{
	list-style: none;
	margin: 5px 35px;
}
.zhong_lest>ul>li{
	line-height: 25px;
}
.zhong_lest>ul>li:nth-child(1){
	padding-top: 20px;
}
.zhong_lest>ul>li>a{
	text-decoration: none;
	color: black;
}
.zhong_lest>ul>li:hover a{
	color: red;
}


.zhong_lest_ul1>li:nth-child(2){
	padding-left: 20px;
	font-size: 13px;
	border-bottom: 1px dotted gainsboro;
}
.zhong_lest_ul1:hover a{
	color: red;
}

.lfet-bottom-ul
{
	margin-top: 20px;
	width: 291px;
	height: auto;
}
.lfet-bottom-ul li 
{
	margin-left: -30px;
	list-style: none;	
	height: 72px;
	width: 291px;
	font-size: 12px;
}
.lfet-bottom-ul li a
{
	color: black;
}
.lfet-btul-div1
{
	width: 138px;
	float:left;
}
.lfet-btul-div2
{
	width: 153px;
	height: 71px;
	float: right;
	background: url(../img/libg14.gif) no-repeat;
	background-position: 12px -71px;
	position: relative;
}
.lfet_span
{
	position: absolute;
	width: 12px;
	height: 24px;
	float: left;
	background: url(../img/libg8.gif) no-repeat;
	bottom: 25px;
}
.lfet-btul-div2 p:nth-child(2)
{
	position: absolute;
    line-height: 17px;
    margin-left: 22px;
}
.lfet-btul-div2 p:nth-child(3)
{
    position: absolute;
    line-height: 83px;
    margin-left: 23px;
    font-size: 29px;
}
.lfet-bottom-ul li:hover .lfet-btul-div1 p
{
	color: red;
} 
.lfet-bottom-ul li:hover .lfet-btul-div2
{
	background-position: 12px 0px;: ;
}
.lfet-bottom-ul li:hover .lfet-btul-div2 p
{
	color: white;
} 
.lfet-bottom-ul li:hover .lfet_span
{
	background-position: 0 -24px;
}

.zhong_right{
	width: 673px;
	height: 1150px;
	float: right;
	
}
.zhong_right_tu{
	display: inline-block;
	width: 319px;
	height: 360px;
	
}
.zhong_right_tu ul{
	padding-top: 0;
	list-style: none;
}
.zhong_right_tu ul li:nth-child(1){	
	height: 35px;
	margin-top: 35px;
	font-size: 20px;
	background: #A9A9A9;
	position: relative;
}
.zhong_right_tu ul li {
	font-size: 10PX;
}
.zhong_right_tu ul li a{
	padding-left: 9px;
	text-decoration: none;
	color: #353434;
	position: absolute;
    margin: 5px 0px;
}
.zhong_right_tu:hover ul li:nth-child(1){
	background: yellow;
}
.zhong_right_tu:hover ul li a{
	color: red;
}




